.meshRotationText {
  height: 100vh;
  font-size: 9rem;
  display: flex;
  align-items: center;
  width: 100vw;
  flex-grow: 1;
}

.second {
  justify-content: end;
}

.canvasWrapper {
  position: absolute !important;
}

.container {
  height: 500vh;
}
